﻿
<div class="alert alert-danger" role="alert" ng-show="errorRequired" translate>ERRORREQUIRED</div>
<div class="alert alert-success" role="alert" ng-show="AddSuccess" translate>MSGSUCCESS</div>

<section class="register">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="name" translate>Id</label>
                            <input type="text" class="form-control" maxlength="30" ng-model="client.id" id="name" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name" translate>NAME</label>*
                            <input type="text" class="form-control" maxlength="30" ng-model="client.name" id="name">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="lastname" translate>LASTNAME</label>*
                            <input type="text" class="form-control" maxlength="100" ng-model="client.lastName" id="lastname">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="document" translate>DOCUMENT</label>*
                            <input type="text" class="form-control" maxlength="14" ng-model="client.document" id="document" ui-mask="999.999.999-99">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="birthdate" translate>BIRTHDATE</label>*
                            <datepicker date-format="dd/MM/yyyy">
                                <input type="text" ng-model="client.birthDate" class="form-control date" model-view-value="true" ui-mask="99/99/9999" />
                            </datepicker>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="profession" translate>PROFESSION</label>*
                            <select class="form-control" ng-model="client.profession">
                                <option ng-repeat="profession in occupations" value="{{profession.id}}" translate>{{profession.description}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <small translate><em>MSGREQUIRED</em></small>
                </div>

                <div class="row">
                    <a class="btn btn-default pull-left" href="#" ng-click="init()" translate>CLEAR</a>
                    <a class="btn btn-primary pull-right" href="#" ng-click="save()" translate>SAVE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="alert alert-success" role="alert" ng-show="DeleteSuccess" translate>DELETESUCCESS</div>


<section class="records">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading" translate>RECORDS</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" ng-model="search">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" datatable="">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th translate>NAME</th>
                                    <th translate>LASTNAME</th>
                                    <th translate>DOCUMENT</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="client in costumers | filter: search as results track by client.id">
                                    <td>{{client.id}}</td>
                                    <td>{{client.name}}</td>
                                    <td>{{client.lastName}}</td>
                                    <td>{{client.document | cpf}}</td>
                                    <td>
                                        <a href="#" class="btn btn-info" ng-click="edit(client.id)"><i class="fa fa-eye"></i></a>
                                        <a href="#" class="btn btn-danger" ng-click="remove(client)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="5" ng-show="costumers.length == 0" translate align="center">NORECORDS</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>