﻿<!DOCTYPE html>
<html ng-app="challenge">
<head>
    <meta charset="utf-8" />
    <title>challenge_net_gabriel - Fagron</title>

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">


    <link rel="stylesheet" href="/assets/bower_components/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/bower_components/angularjs-datepicker/dist/angular-datepicker.min.css">



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
</head>
<body ng-controller="PageController">

    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" translate>TITLE</a>

                <a class="navbar-brand navbar-right" href="#" ng-click="changeLanguage('pt')">
                    <img alt="Brazil" src="/assets/img/flags/brazil.png">
                </a>
                <a class="navbar-brand navbar-right" href="#" ng-click="changeLanguage('en')">
                    <img alt="Brazil" src="/assets/img/flags/eua.png">
                </a>
            </div>
        </nav>
    </div>

    <section class="content" ng-view></section>

    <div class="loading" style="display:none">
        <div class='uil-ring-css'><div></div></div>
    </div>


    <!--SCRIPTS-->
    <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/assets/angular/angular/angular.min.js"></script>
    <script src="/assets/angular/angular/angular-locale_pt-br.js"></script>
    <script src="/assets/angular/angular-route/angular-route.min.js"></script>
    <script src="/assets/angular/angular-animate/angular-animate.min.js"></script>
    <script src="/assets/angular/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="/assets/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/assets/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>







    <!--UI-MASK-->
    <script src="/assets/bower_components/angular-ui-mask/dist/mask.min.js"></script>

    <!--DATEPICKER-->
    <script src="/assets/bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>

    <!--BASE-->
    <script src="/assets/angular/module.js"></script>
    <script src="/assets/angular/routes.js"></script>
    <script src="/assets/angular/interceptor.js"></script>

    <!--SERVICES-->
    <script src="/app/services/client/client.service.js"></script>

    <!--CONTROLLERS-->
    <script src="/app/pages/page.controller.js"></script>
    <script src="/app/pages/client/index/index.controller.js"></script>

</body>
</html>